html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: 100%;
}

.row {
	width: 100%;
	height:13%;
	min-height: 100px;
}

.one {
	background: #e0e0e0;
	
}

.two {
	height: 35.2%;
	min-height: 200px;
}

.two p{
	padding: 6%;
	font-family: arial;
	font-size: 3vmin;
	margin-top: -3px;
}

.three {
	background: #0099ff;
}

.four {
	background: #66ffcc;
}

.five {
	background: #e0e066;
}

.six {
	background: #ffff00;
}

.box {
	background: #0099ff;
	position: absolute;
	width: 120px;
	height: 10%;
	margin-top: 15px;
	margin-left: 20px;
	min-height: 75px;
}